@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

h1,
h2 {
  color: rgba(255, 255, 0, 0.918);
  filter: drop-shadow(10px 10px 4px rgb(0, 37, 0));
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 0;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 22px;
  }
}
